body{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}
@font-face {
    font-family: "Madfont";
    src: url(dist/fonts/ShadowsIntoLight-Regular.ttf);
}
@font-face {
    font-family: "Mad-font";
    src: url(dist/fonts/Raleway-VariableFont_wght.ttf);
}
.left h2{
    font-family: "Madfont";
}
header{
    height: 10%;
    background: rgb(255, 83, 141);
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: bold;
}
header .menu{
    display: flex;
    gap: 20px;
}
header .menu a{
    text-decoration: none;
    list-style: none;
    color: white;
    text-transform: uppercase;
}
header .menu a:hover{
    color: rgb(133, 80, 98);
}
header > .maz{
    font-size: larger;
    font-size: large;
    max-height: 70px;
}
header > .maz h1{
    text-transform: uppercase;
}
header > .maz h1 span{
    color: rgb(255, 181, 133);
    text-shadow: 2px 3px 4px black;
}
.accueil{
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(540px,1fr));
    gap: 20px;
    padding: 4rem;
    background: linear-gradient(rgb(255, 181, 133),rgb(255, 83, 141));
}
.accueil .right{
    width: auto;
    min-height: 20rem;
    position: relative;
    border: 3px solid rgb(253, 255, 253);
}
.accueil .left{
    width: auto;position: relative;
    border: 3px solid rgb(253, 255, 253);
    color: white;
    display: block;
    min-height: 20rem;
    padding: .5rem 3rem 2rem 3rem;

}
.accueil .left > h5{
    margin-bottom: 1rem;
}
.accueil .left > h4{
    font-size: 2rem;
    font-family: "Mad-font";
    text-align: center;
    color: white;
}
.accueil .left > .links{
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    gap: 10px;
}
.accueil .left > .links a{
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: .2rem .5rem;
    color: white;
    font-size: .8rem;
    background-color: rgb(255, 181, 133);
}
.accueil .left > .links a:hover{
    background-color: rgba(236, 110, 26, 0.795);
}
.accueil .right {
    height: auto;
    background: url(images/manuc14.jpg)no-repeat;
    background-size: cover;
}
span{
    font-style: normal;
}
.manicure{
    display: block;
    padding-left: 2rem;
    padding-right: 1rem;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}
.manicure-title{
    padding-top: 2rem;
    text-align: center;
    margin: auto;
}
.manicure-title span{
color: rgb(255, 83, 141);
font-style: normal;
}
.manicure-title-scn{
    text-align: center;
    padding: auto;
}
.manicure-title-scn span{
    color: rgb(255, 83, 141);
    font-style: normal;
}
.card-selection{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(400px, 1fr) );
    gap: 15px;
}
.card-product{
    margin-left: auto;
    max-width: 440px;
    min-width: 400px;
    height: 25rem;
    position: relative;
    margin-right: auto;
    background-color: rgb(255, 83, 141);
}
.card-product .com-button{
    height: auto;
    padding: 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-product .com-button a{
    text-align: center;
    text-decoration: none;
    color: white;
    padding: .5rem .9rem;
    background: rgba(207, 104, 35, 0.836) ;
}
.card-product img{
    height: 80%;
    width: 100%;
}

.pedicure .pedicure-title{
    text-align: center;
}
.pedicure .pedicure-title span{
    color: rgb(255, 83, 141);
    font-style: normal;
    text-align: center;
}
.pedicure .pedicure-title-scn span{
    color: rgb(255, 83, 141);
    font-style: normal;
    text-align: center;
}
.pedicure .pedicure-title-scn{
    text-align: center;
}
.pedicure .selection{
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    display: flex;
    position: relative;
    margin-right: auto;
    background-color: rgb(255, 83, 141);

}
.pedicure .selection .retouch{
    margin-left: auto;
    width: 30%;
    height: 20rem;
    position: relative;
    margin-right: auto;
    background-color: rgb(255, 83, 141);
}
.pedicure .selection .retouch img{
    height: 80%;
    width: 100%;
} 
span{
    color: rgb(0, 17, 255);
    font-style: italic;

}
h2{
    
    font-style: oblique;
}
/* .retouch .ret-options{

} */
.retouch .ret-options a{
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    display: inline;
    text-align: center;
    text-decoration: none;
    color: white;
    background: rgba(207, 104, 35, 0.836) ;
}
.intro-manicure{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: larger;
    font-style: normal;
    border-bottom: 1px solid black;
}

.cards-selection{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    gap: 15px;
}
.cards-selection .card{
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    max-width: 440px;
    min-width: 400px;
    height: 30rem;
    position: relative;
    margin-right: auto;
    background-color: rgb(255, 83, 141);
}
.cards-selection .card img{
    margin-top: 0;
    object-fit: cover;
    height: 20rem;
    overflow: hidden;
    width: 100%;
} 
.description span{
    color:rgba(236, 110, 26, 0.795) ;
    font-style: normal;
    text-shadow: 2px 2px 2px black;
}
.client-action a{    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: .2rem .5rem;
    color: white;
    font-size: .8rem;
    background-color: rgb(255, 181, 133);
}
.client-action a:hover{
    background-color: rgba(236, 110, 26, 0.795);
}

.description,
.client-action{
    padding: 1rem;
    color: white;
}









*{
    box-sizing: border-box;
}
.cont-container{
    box-sizing: border-box;
    margin: 0;
    width: 100vw;
    /* min-height: 100vh; */
    padding: 2rem 7%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    gap: 20px;
    /* align-items: center; */
}
.contact{
    min-width: 50%;
    border: 3px solid rgb(255, 83, 141);
    padding: 2rem 7%;
}
.contact .sudo-title{
    font-size: 1.4rem;
    font-weight: lighter;
}
.contact h5{
    text-align: center;
    color: rgb(255, 83, 141);
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: 3rem;
}
.contact h4{
    padding: .5rem 2rem;
    border: 3px solid rebeccapurple;
    display: flex;
}
.contact h4 img,
.contact a img{
    margin-right: 10px;
    width: 40px;
    height: 40px;
}
.contact h4 p,
.contact a p{
    margin-top: .5rem;
}
.contact a,
.contact h4{
    font-weight: lighter;
    line-height: 2rem;
    padding: .5rem 2rem;
    display: flex;
}
.contact a{
    border: 3px solid rebeccapurple;
    text-decoration: none;
    color: black;
}
.user-interface{
    border: 3px solid rgb(255, 83, 141);
    box-sizing: border-box;
    margin: 0;
    padding: 2rem 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: block;
}
form label{
    display: block;
}
form input{
    padding: .5rem ;
}
form input,
form textarea{
    width: 100%;
}
form button{
    border: none;
    cursor: pointer;
    width: 100%;
    color: white;
    padding: .4rem;
    background: rgb(255, 83, 141);
}
@media screen and (max-width:800px) {
    .accueil{
        padding: 1rem;
        grid-template-columns: repeat(auto-fill,minmax(380px,1fr));
    }
    header > .maz h1{
        text-transform: uppercase;
        font-size: 1.6rem;
    }
}